$blue:#0565BC; 
$blueDark:#162943;
$blueLight:#03C3D8;
$grey:#1F2229;
$greyLight:#23262D;
$greyDark:#141519;
$greenLight:#70CC31;
$redLight:#CC0B00;
$redDark:#860020;
$yellow: #F2C113;
$yellowLight:#CCC41F;
$yellowDark:#CCA100;